[submodule "ros2_ws/src/ros2_kortex"]
	path = ros2_ws/src/ros2_kortex
	url = https://github.com/Kinovarobotics/ros2_kortex.git
[submodule "ros2_ws/src/whisper_ros"]
	path = ros2_ws/src/whisper_ros
	url = https://github.com/mgonzs13/whisper_ros.git
[submodule "ros2_ws/src/audio_common"]
	path = ros2_ws/src/audio_common
	url = https://github.com/mgonzs13/audio_common.git
